<form
  class="card"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title">Sign up</span>
   
    <div class="input-field">
      <input
        formControlName="name"
        id="name"
        type="text"
        [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
      >
      <label for="name">Name:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('name').invalid && form.get('name').touched"
      >
        <span *ngIf="form.get('name').errors['required']">Enter your name</span>
       
      </span>
    </div>
   
    <div class="input-field">
      <input
        formControlName="organization"
        id="organization"
        type="text"
        [ngClass]="{'invalid': form.get('organization').invalid && form.get('organization').touched}"
      >
      <label class="orgLabel" for="organization">Organization name:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('organization').invalid && form.get('organization').touched"
      >
        <span *ngIf="form.get('organization').errors['required']">Enter organization name</span>
       
      </span>
    </div>

    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email"
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
      >
      <label for="email">Email:</label>
      <span
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
      >
        <span *ngIf="form.get('email').errors['required']">Enter email address</span>
        <span *ngIf="form.get('email').errors['email']">Enter valid email address</span>
      </span>
    </div>
    <div class="input-field" >
      <input
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
       

      >
     
      <label for="password">Password:</label>
  
      <span
        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >

        <span *ngIf="form.get('password').errors['required']">Enter your password</span>
        <span *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
          Password must be larger {{form.get('password').errors['minlength']['requiredLength']}} characters.
          Now {{form.get('password').errors['minlength']['actualLength']}}
        </span>
      </span>
    </div>

    <div
    class="form-group"
    [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}"
  >
    <label for="agree">
      <input
       class="filled-in" 
       checked="checked" 
        id="agree"
        type="checkbox"
        formControlName="agree"
      >
      <span>I accept</span>
    </label>
  </div>

  </div>

  <div class="card-action">
    <button
      type="submit"
      class="modal-action btn waves-effect black"
      [disabled]="form.invalid || form.disabled"
    >
    Sign up
    </button>
  </div>
  <div class="card-action" id="enter-card-action">
    <p class="text-muted text-xs-center"> 
     Already have an account?
      <a routerLink='/login'  >
        Login!
      </a>
    </p>
  </div>

</form>

